<h1 class="users-index__title">ユーザー一覧</h1>

<div class="users-index__search">
  <%= form_tag(users_path, method: :get, class: "users-index__search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "ユーザー名で検索", class: "users-index__search-input" %>
    <%= submit_tag '検索する', class: "users-index__search-submit" %>
  <% end %>
</div>

<div class="users-index__list">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-card__main">
        <p class="user-card__name"><strong><%= user.name %></strong></p>
        <p class="user-card__profile"><%= user.profile %></p>
      </div>

      <% unless current_user == user %>
        <div class="user-card__actions">
          <% if current_user.following?(user) %>
            <%= form_for(current_user.relationships.find_by(follow_id: user.id),
                        html: { method: :delete, class: "follow-form follow-form--unfollow" }) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'フォロー解除', class: 'btn btn--danger btn--block' %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build, html: { class: "follow-form follow-form--follow" }) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'フォロー', class: 'btn btn--primary btn--block' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="user-card__link">
        <%= link_to 'プロフィールを見る', user_path(user), class: "user-card__profile-link" %>
      </div>
    </div>
  <% end %>
</div>
